.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.auth-container {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  color: #555;
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

input[type="email"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

input[type="email"]:focus,
input[type="text"]:focus {
  border-color: #4caf50;
  outline: none;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:disabled {
  background-color: #9e9e9e;
  cursor: not-allowed;
}


.error {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 10px;
}

.success {
  color: #2ecc71;
  font-size: 16px;
  margin-top: 20px;
}

.otp-section {
  text-align: center;
  margin-top: 20px;
}

.btn-verify{
  display: flex;
  justify-content: space-between;
}

.otp-boxes {
  display: flex;
  gap: 10px;
}

.resend-btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.resend-btn:hover {
  background-color: #0056b3;
}

.spinner {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.loading {
  color: gray;
  font-style: italic;
}